body {
  font-family: Arial, sans-serif;
}

textarea {
  font-family: 'Courier New', Courier, monospace;
  background-color: white;
  color: black;
  font-size: 20px;
  padding: 10px;
  border: 2px solid limegreen;
  outline: none;
  resize: none;
  box-shadow: 0 0 5px rgba(0, 128, 0, 0.8);
  }
