body {
     background: #fff;
     color: #000;
     font-family: sans-serif;
}
 h1 {
     margin: 0;
     color: #B3A234;
     text-align: center;
     letter-spacing: 16px;
     padding: 2% 2%;
     margin: 1% 1%;
     font-size: 200%;
     text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}
.natalyhelps {
     margin: 0;
     color: #B3A234;
     text-decoration: none;
     text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}
 #container {
     margin: 10% auto;
}
 #introduction {
     box-shadow: 10px 10px 20px 5px rgba(0, 0, 0, 0.5);
     background: #000;
     width: 80%;
     font-family: Montserrat;
     font-size: 150%;
     margin: 5% auto;
     background: #fff;
     text-align: left;
}
 #sitetag {
     background: #fff197;
     margin: 0;
     font-family: Montserrat;
     text-align: center;
}
 #tagline {
     background: #fff197;
     font-family: courier new;
     margin: 0;
}
 #sitebody {
     background: #ffffff;
     font-family: courier new;
     text-align: center;
     border-top: dashed 10px #fff197;
     background-image: repeating-linear-gradient(#fffff1 0px, #fffff1 24px, rgba(184, 184, 143, .75) 25px);
     /*928219*/
     /*B6A537*/
     color:#B3A234;
     letter-spacing: 1px;
     font-size: 23px;
     overflow-wrap: break-word;
}
 li {
     color: #BAA24A;
     font-family: courier new;
     font-size: 90%;
     display: inline;
     padding-right: 2%;
     font-weight: 600;


}

a:not(.natalyhelps){
     text-decoration: line-through;
     text-transform: lowercase;
     color: #BAA24A;
     font-family: courier new;
     display: inline;
     text-align: left;
     letter-spacing: 3px;
}
 a:not(.natalyhelps):hover {
     font-family: courier;
     display: inline;
     letter-spacing: 5px;
}
svg {
     width: 3%;
}
