body {
  background: #fff;
  color: #000;

}

#container {
  border: 5px solid #000;
  height: 300px;
  width: 500px;
  text-align: center;
  margin: 0 auto;
}

#btn {
  margin: 50px auto;
  font-size: 20px;
}

#output {
  margin: 25px auto;
  color: black;
  font-size: 26px;
}
